.lfotter {
  background: #120f2d;
  /* width: 1519px; */
  height: auto;
  width: auto;
  margin: auto;
  position: relative;
  padding: auto;
  text-align: center;
  justify-content: center;
  justify-items: center;
  justify-self: auto;
}
h2.lfekit-heading--title.elementskit-section-title {
  color: #fff;
  margin: 0 0 0 0;
  font-size: 20px;
  font-weight: 700;
}
span.lfekit_page_list_title_title {
  color: #fff;
}
.lfnav.nav-item {
  margin-right: 6%;
  margin-left: 14%;
}
h2.lfekit-heading--title.elementskit-section-title {
  color: #fff;
  margin: 0 0 10px 0;
  font-size: 20px;
  font-weight: 700;
}
p.lfpsa {
  color: #b8b7c0;
}
li.box-body {
  display: flex;
  text-align: center;
  justify-content: center;
  justify-items: center;
  justify-self: center;
  vertical-align: middle;
  align-content: center;
  align-items: center;
  align-self: center;
}
ul.lfboxx {
  text-align: center;
  width: auto;
  list-style: none;
  margin: auto;
  vertical-align: middle;
  display: grid;
}
ul.ekit_social_media {
  list-style: none;
  display: -webkit-inline-box;
}
.lfekit-heading.elementskit-section-title-wraper.text_left.ekit_heading_tablet-.ekit_heading_mobile- {
  margin: auto;
}
.lfmrginsda.container {
  margin: auto;
  text-align: center;
  /* padding-left: 12%; */
  padding-top: 5rem;
  vertical-align: middle;
  justify-content: center;
  padding-bottom: 3rem;
  justify-items: center;
}
.lfborderded {
  text-align: center;
  /* margin: auto; */
  /* border: 1px solid white; */
  border-right: 1px solid;
  /* padding-right: 0px; */
  /* padding-left: 0%; */
  vertical-align: middle;
  justify-content: center;
}
img.lazyloadesdasdd {
  max-width: 191px;
}
span.eldskit_page_list_title_title {
  /* border-right: 1px solid; */
  color: white;
  /* padding-right: 81px; */
  /* padding-left: 65px; */
}

.ssas {
  padding: 0 30px 0 11px !important;
  border-style: solid;
  border-width: 0 1px 0 0;
  border-color: #ffffff26;
}
.lfforbottom.row {
  margin: auto;
  padding-bottom: 3rem;
}
.lfoostyel {
  border-top: 1px solid;
  padding-top: 3rem;
}
.footercollast.col-sm-8 {
  align-self: center;
}
.lfstyel .flex-column.nav > a {
  padding: 0.5rem 0rem;
}
.elementskit-infobox.text-.text-left.icon-lef-right-aligin.elementor-animation-.media {
  /* width: 33rem; */
  /* margin: 6rem; */
  width: auto;
  min-inline: 9rem;
}
svg.fticonpadding {
  margin-right: 12px;
}
